{% extends "layout.html" %}

{% block content %}
<div class="container">
    <body background="/static/foto/pp.jpg" >
<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='css/esto.css')}}">
<br>
    <center><h1><strong>ℂ𝕒𝕣𝕣𝕖𝕣𝕒</strong></h1></center>
<center><table width="80%" border="0" cellpadding="2%"></table></center>

        <tr>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark" scope="col">【﻿Ｄｅｓｃｒｉｐｃｉｏｎ】</th>
                            <td class="table-dark"></td>
                            <td class="table-dark"><center><a class="btn btn-info" href="/carrera_agregar" role="button">𝓐𝓰𝓻𝓮𝓰𝓪𝓻 𝓝𝓾𝓮𝓿𝓪 𝓒𝓪𝓻𝓻𝓮𝓻𝓪</a></center></td>
                        </tr>
                    </thead>
                    <tbody>
                    <table class="table table-striped table-info">
                        {% for i in carrera %}
                            <tr>
                                <td width="60%">{{i.1}}</td>
                                <td width="20%"><center><a class="btn btn-info" href="/carrera_editar/{{i.0}}" role="button">𝐸𝒹𝒾𝓉𝒶𝓇</a></center></td>
                                <td width="20%"><center><a class="btn btn-outline-info" href="/carrera_borrar/{{i.0}}" role="button">𝐵𝑜𝓇𝓇𝒶𝓇</a></center></td>


                            </tr>
                        {% endfor %}
                    </table>
                    </tbody>

                </table>

            </td>
        </tr>
    </table>
</body>
</div>
{% endblock %}