{% extends "layout.html" %}

{% block content %}
<h3>
    <br>
    <Center> <b> 𝐸𝒹𝒾𝓉𝒶𝓇  𝐸𝓈𝒸𝑜𝓁𝒶𝓇𝒾𝒹𝒶𝒹</b> </Center>

</h3>
   <br>
   <br>
    <form action="/escolaridad_fedita/{{escolaridad.0}}" method="post">
        <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="descripcion" class="form-label"><strong>𝓘𝓷𝓰𝓻𝓮𝓼𝓮 𝓵𝓪  𝓔𝓼𝓬𝓸𝓵𝓪𝓻𝓲𝓭𝓪𝓭</strong></label>
                      <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="escolaridad" value="{{escolaridad.1}}">
                </div>

                </div>
              <button type="submit" class="btn btn-info">𝒜𝒸𝓉𝓊𝒶𝓁𝒾𝓏𝒶𝓇</button>
          </div>
    </div>

</form>

{% endblock %}