{% extends "layout.html" %}

{% block content %}
<div class="container">
    <body background="/static/foto/pp.jpg" >
<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='css/estadocivil.css')}}">
<br>
    <center><h1><strong>𝔼𝕤𝕥𝕒𝕕𝕠 𝕔𝕚𝕧𝕚𝕝</strong></h1></center>
<center><table width="80%" border="0" cellpadding="2%"></table></center>

        <tr>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark" scope="col">【﻿Ｄｅｓｃｒｉｐｃｉｏｎ】</th>
                            <td class="table-dark"></td>
                            <td class="table-dark"><center><a class="btn btn-info" href="/estadocivil_agregar" role="button">𝒜𝑔𝓇𝑒𝑔𝒶𝓇 𝓊𝓃 𝐸𝓈𝓉𝒶𝒹𝑜 𝒸𝒾𝓋𝒾𝓁</a></center></td>
                        </tr>
                    </thead>
                    <tbody>
                    <table class="table table-striped table-info">
                        {% for i in estadocivil %}
                            <tr>
                                <td width="60%">{{i.1}}</td>
                                <td width="20%"><center><a class="btn btn-info" href="/estadocivil_editar/{{i.0}}" role="button">𝐸𝒹𝒾𝓉𝒶𝓇</a></center></td>
                                <td width="20%"><center><a class="btn btn-outline-info" href="/estadocivil_borrar/{{i.0}}" role="button">𝐵𝑜𝓇𝓇𝒶𝓇</a></center></td>


                            </tr>
                        {% endfor %}
                    </table>
                    </tbody>

                </table>

            </td>
        </tr>
    </table>
</body>
</div>
{% endblock %}