{% extends "layout.html" %}

{% block content %}
<h3>
    <br>
    <Center> <b> 𝓔𝓭𝓲𝓽𝓪𝓻 𝓮𝓵 𝓔𝓼𝓽𝓪𝓭𝓸 𝓬𝓲𝓿𝓲𝓵</b> </Center>

</h3>
   <br>
   <br>
    <form action="/estadocivil_fedita/{{estadocivil.0}}" method="post">
        <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="descripcion" class="form-label"><strong>𝐼𝓃𝑔𝓇𝑒𝓈𝑒 𝑒𝓁 𝐸𝓈𝓉𝒶𝒹𝑜 𝒸𝒾𝓋𝒾𝓁</strong></label>
                      <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="estadocivil" value="{{estadocivil.1}}">
                </div>

                </div>
              <button type="submit" class="btn btn-info">𝒜𝒸𝓉𝓊𝒶𝓁𝒾𝓏𝒶𝓇</button>
          </div>
    </div>

</form>

{% endblock %}