{% extends "layout.html" %}

{% block content %}
<h3>
    <br>
    <Center> <b> 𝔼𝕕𝕚𝕥𝕒𝕣 ℍ𝕒𝕓𝕚𝕝𝕚𝕕𝕒𝕕 </b> </Center>

</h3>
   <br>
   <br>
    <form action="/habilidades_fedita/{{habilidades.0}}" method="post">
        <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="descripcion" class="form-label"><strong>𝐼𝓃𝑔𝓇𝑒𝓈𝑒 𝓁𝒶 𝐻𝒶𝒷𝒾𝓁𝒾𝒹𝒶𝒹</strong></label>
                      <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="habilidades" value="{{habilidades.1}}">
                </div>

                </div>
              <button type="submit" class="btn btn-info">𝒜𝒸𝓉𝓊𝒶𝓁𝒾𝓏𝒶𝓇</button>
          </div>
    </div>

</form>

{% endblock %}