{% extends "layout.html" %}

{% block content %}
<body >

   <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='css/index.css')}}">

    </head>
    <body>
           <header>

                </div>
            <nav>
            <ul>


            </ul>
            </nav>
            </header>
            <section class="main">
                <section class="articles">
                    <article>
                        <br>
                        <center>
                        <h2>𝐸𝓃 𝓊𝓃 𝓂𝑜𝓂𝑒𝓃𝓉𝑜 𝑒𝓈𝓉𝒶𝓇𝑒𝓂𝑜𝓈 𝒸𝑜𝓃 𝓊𝓈𝓉𝑒𝒹..</h2>
                        </center>
                        <br>
                        <p>
                        <br>

                         <center>

                            </center>

                            <center>
                                <img class="logo" src="{{url_for('static', filename='imagenes/calaveras.jpg')}}"  width="500px" height="350px">
                                <center><iframe width="60" height="15" src="https://www.youtube.com/embed/fFaaJCR_qX4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
                            </center>

                       </p>
                    </article>
                    <article>
                        <p> <center>


                            <center>


                            <center>

                            </center>
                                </center>
                        </p>
                    </article>
                </section>
                <aside>
                    <h3> </h3>
                    <br>
                    <center>

                    <br>
                    </center>
                </aside>
            </section>
            <footer>


            </footer>
        </body>

</html>
</body>
{% endblock %}