<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS >
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <title>Empresa Del Terror</title>
</head>

<body>
<div id="other">
  <div id="spider1">



  <div id="eye">
    <p id="pupil"></p>
  </div>

  <div id="leg">
  <p></p>
  <p></p>
</div>

<div id="leg2">
  <p></p>
  <p></p>
</div>

<div id="leg3">
  <p></p>
  <p></p>
</div>

<div id="leg4">
  <p></p>
  <p></p>
</div>

  <div id="leg5">
  <p></p>
  <p></p>
</div>

  <div id="leg6">
  <p></p>
  <p></p>
</div>

  <div id="string"></div>

</div>
  <script src='https://use.edgefonts.net/creepster.js'></script>
<div id="letters">
  <script src='https://use.edgefonts.net/eater.js'></script>

  <script src='https://use.edgefonts.net/nosifer.js'></script>
  <p></p>
</div>


</div>
</body>
<body>
 <!--Barra de Menu -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='css/estilos.css')}}">
<nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #000000;" >
  <div class="container-fluid">
   <img class="logo" src="{{url_for('static', filename='imagenes/logo.png')}}"  width="95px" height="70px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

          <div class="navbar-nav">
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Contratación
                </a>
                    <ul class ="dropdown-menu" aria-labelledby="navbarDropdown">

   <li><a class="dropdown-item bs-blue" href="/puesto">Puesto</a></li>
                 <li><a class="dropdown-item bs-blue" href="">Requisicion</a>
                 <ul>
                   <li><a href="/requisicion_agr">Nueva Requisicion</a></li>
                   <li><a href="/requisicion_pend">Pendientes de autorizacion</a></li>
                   <li><a href="/requisicion_aut">Autorizadas</a></li>
                 </ul>
               </li>
             </ul>
             </li>
        </div>

                </li>
           </div>
        <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Catalogos
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item bs-blue" href="/area">Area</a></li>
    <li><a class="dropdown-item" href="/carrera">Carrera</a></li>
    <li><a class="dropdown-item" href="/escolaridad">Escolaridad</a></li>
    <li><a class="dropdown-item" href="/estadocivil">Estado Civil</a></li>
    <li><a class="dropdown-item" href="/gradodeavance">Grado de Avance</a></li>
    <li><a class="dropdown-item" href="/habilidades">Habilidades</a></li>
    <li><a class="dropdown-item" href="/idioma">Idioma</a></li>
    <li><a class="dropdown-item" href="/mediopublic">Medio de Publicidad</a></li>


  </ul>
</li>

      </ul>
    </div>
  </div>
</nav>
 <br>
 <br>

 {% block content %}
 {% endblock %}
    <!--script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>