{% extends "layout.html" %}
{% block content %}
<h3>
    <br>
    <Center> <b> 𝓰𝓻𝓮𝓰𝓪 𝓾𝓷 𝓜𝓮𝓭𝓲𝓸 𝓭𝓮 𝓟𝓾𝓫𝓵𝓲𝓬𝓲𝓭𝓪𝓭 </b> </Center>
<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='css/mediodepublicidad.css')}}">
</h3>
   <br>
   <br>
<form action="/mediopublic_fagrega" method="post">
   <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="descripcion" class="form-label"><strong> 𝓘𝓷𝓰𝓻𝓮𝓼𝓮 𝓾𝓷 𝓜𝓮𝓭𝓲𝓸 𝓭𝓮 𝓟𝓾𝓫𝓵𝓲𝓬𝓲𝓭𝓪𝓭:</strong></label>
                      <input type="text" class="form-control" name="descripcion" id="descripcion"required></input>
                </div>
                </div>
          </div>
       <button type="submit" class="btn btn-info">𝐸𝓃𝓋𝒾𝒶𝓇</button>
    </div>

</form>
{% endblock %}