{% block content %}
<h3>
    <br>
    <Center> <b> 𝓔𝓭𝓲𝓽𝓪𝓻 𝓜𝓮𝓭𝓲𝓸 𝓭𝓮 𝓟𝓾𝓫𝓵𝓲𝓬𝓲𝓭𝓪𝓭</b> </Center>

</h3>
   <br>
   <br>
    <form action="/mediopublic_fedita/{{mediopublic.0}}" method="post">
        <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="descripcion" class="form-label"><strong>𝓘𝓷𝓰𝓻𝓮𝓼𝓮 𝓮𝓵 𝓜𝓮𝓭𝓲𝓸 𝓭𝓮 𝓟𝓾𝓫𝓵𝓲𝓬𝓲𝓭𝓪𝓭:</strong></label>
                      <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="mediopublic" value="{{mediopublic.1}}">
                </div>

                </div>
              <button type="submit" class="btn btn-info">𝒜𝒸𝓉𝓊𝒶𝓁𝒾𝓏𝒶𝓇</button>
          </div>
    </div>

</form>

{% endblock %}